* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #f0f1e8;
}

*::selection {
  background: #c0c2bc;
}

.line p {
  color: rgb(239, 231, 114);
  background-color: black;
  text-align: center;
  padding: 0.6rem;
  font-size: 115%;
}

.line p::selection {
  background: #323221;
}

.photo .img1 a img {
  margin-right: 28rem;
  margin-top: 3rem;
  user-select: none;
}

.photo .img3 a img {
  margin-left: 28rem;
  margin-top: 3rem;
  user-select: none;
}

.photo .img4 a img {
  margin-left: 1.2rem;
  margin-top: 3rem;
  user-select: none;
}

.photo {
  justify-content: center;
  display: flex;
  padding-top: 0.7rem;
}

.nav a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin-left: 1rem;
  color: rgb(56, 58, 59);
}

.nav {
  margin-top: 2rem;
  margin-left: 35rem;
}

.block1 {
  margin-right: 11rem;
  margin-top: 3rem;
  margin-left: 12rem;
  justify-content: center;
  display: flex;
}

.block1 img {
  margin-top: 4rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.258);

  /* animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}

/* @keyframes img {
  0% { transform: translate(15px,  15px); }
  50%  { transform: translate(15px, 15px); }
  100%   { transform: translate(15px, 15px); }    
} */

.block1 h1 {
  padding-bottom: 1.7rem;
  font-weight: normal;
}

.block1 h1 p {
  /* margin-right: 5rem; */
  background-color: #f0f3eb;
}

.block1 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-right: 4rem;
  font-size: 1rem;
  line-height: 2rem;
}

.block1 .para {
  background-color: #f0f3eb;
  padding-top: 3rem;
  padding-left: 5rem;
  border-radius: 1.7rem;
}

/* .block1 .para h1::selection {
  background: #C0C2BC;
} */

.block1 .para button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-top: 2rem;
  border-radius: 0.8em;
  color: #f0f1d0;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.para button::selection {
  background: #323221;
}

.block2 {
  padding-top: 9rem;
  padding-left: 12.5em;
}

.block2 h1 {
  font-weight: normal;
}

.block2 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 1rem;
  font-size: 1rem;
}

.shop {
  margin-left: 12.5rem;
  margin-top: 2rem;
  background-color: #f0ede4;
  margin-right: 66.7rem;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.shop a {
  text-decoration: none;
}

.shop img {
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.shop .text p {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #f0ede4;
  padding-top: 1.5rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.shop button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: #520000;
  background-color: #feffdc;
  margin-left: 1.6rem;
  padding: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dropme {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 7rem;
}

.dropbtn {
  font-family: "EB Garamond", serif;
  display: flex;
  background-color: #f0f1e8;
  color: rgb(0, 0, 0);
  margin-left: 25rem;
  padding: 0.8rem;
  padding-right: 33.5rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 1.4rem;
}

.dropbtn img {
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}

.dropbtn:hover {
  text-decoration: underline;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f0f1e8;
  padding-top: 2.5rem;
  padding-bottom: rem;
  margin-top: -3rem;
  margin-left: 25rem;
  border-radius: 1.4rem;
  min-width: 43.7rem;
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.dropbtn1 {
  font-family: "EB Garamond", serif;
  display: flex;
  background-color: #f0f1e8;
  color: rgb(0, 0, 0);
  margin-left: 25rem;
  padding: 0.8rem;
  padding-right: 32.5rem;
  margin-top: 1rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 1.4rem;
}

.dropbtn1 img {
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}

.dropbtn1:hover {
  text-decoration: underline;
}

.dropdown1 {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  background-color: #f0f1e8;
  padding-top: 2.5rem;
  padding-bottom: rem;
  margin-top: -3rem;
  margin-left: 25rem;
  border-radius: 1.4rem;
  min-width: 43.7rem;
  z-index: 1;
}

.dropdown1-content li {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show1 {
  display: block;
}

.dropbtn2 {
  font-family: "EB Garamond", serif;
  display: flex;
  background-color: #f0f1e8;
  color: rgb(0, 0, 0);
  margin-left: 25rem;
  padding: 0.8rem;
  padding-right: 33.3rem;
  margin-top: 1rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 1.4rem;
}

.dropbtn2 img {
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}

.dropbtn2:hover {
  text-decoration: underline;
}

.dropdown2 {
  display: inline-block;
}

.dropdown2-content {
  display: none;
  background-color: #f0f1e8;
  padding-top: 2.5rem;
  padding-bottom: rem;
  margin-top: -3rem;
  margin-left: 25rem;
  border-radius: 1.4rem;
  min-width: 43.7rem;
  z-index: 1;
}

.dropdown2-content li {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show2 {
  display: block;
}

.dropbtn3 {
  font-family: "EB Garamond", serif;
  display: flex;
  background-color: #f0f1e8;
  color: rgb(0, 0, 0);
  margin-left: 25rem;
  padding: 0.8rem;
  padding-right: 32.1rem;
  margin-top: 1rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 1.4rem;
}

.dropbtn3 img {
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}

.dropbtn3:hover {
  text-decoration: underline;
}

.dropdown3 {
  display: inline-block;
}

.dropdown3-content {
  display: none;
  background-color: #f0f1e8;
  padding-top: 2.5rem;
  padding-bottom: rem;
  margin-top: -3rem;
  margin-left: 25rem;
  border-radius: 1.4rem;
  min-width: 43.7rem;
  z-index: 1;
}

.dropdown3-content li {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show3 {
  display: block;
}

.dropbtn4 {
  font-family: "EB Garamond", serif;
  display: flex;
  background-color: #f0f1e8;
  color: rgb(0, 0, 0);
  margin-left: 25rem;
  padding: 0.8rem;
  padding-right: 32rem;
  margin-top: 1rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 1.4rem;
}

.dropbtn4 img {
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}

.dropbtn4:hover {
  text-decoration: underline;
}

.dropdown4 {
  display: inline-block;
}

.dropdown4-content {
  display: none;
  background-color: #f0f1e8;
  padding-top: 2.5rem;
  padding-bottom: rem;
  margin-top: -3rem;
  margin-left: 25rem;
  border-radius: 1.4rem;
  min-width: 43.7rem;
  z-index: 1;
  font-size: 0.9rem;
}

.dropdown4-content li {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show4 {
  display: block;
}

.vid video {
  margin-top: 5rem;
  margin-left: 13rem;
  margin-bottom: 10rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.258);
}

.partner {
  margin-bottom: 2rem;
}

.partner h1 {
  font-weight: normal;
  margin-left: 13rem;
}

.partner .imgA img {
  border-radius: 0.8rem;
  margin-top: 2rem;
  margin-left: 13rem;
}

.partner .imgB img {
  margin-top: 2rem;
  margin-left: 13rem;
  border-radius: 0.8rem;
  display: flex;
}

.partner .imgC img {
  margin-top: -26.5rem;
  margin-left: 36rem;
  border-radius: 0.8rem;
  display: flex;
}

.join .community h2 {
  text-align: center;
  font-size: 53px;
  font-weight: normal;
  color: #fdfbf7;
  background-color: black;
  padding-top: 2.5rem;
  padding-bottom: 1.7rem;
}

.join .community p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fdfbf7;
  background-color: black;
  padding-bottom: 1.5rem;
}

.join {
  background-color: black;
}

.join input {
  margin-left: 36rem;
  margin-bottom: 3rem;
  border-color: #ffffff;
  border-width: 0.02em;
  color: white;
  font-size: 16px;
  color: #fdfbf7;
  background-color: black;
  border-radius: 0.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 8.5rem;
}

.community h2::selection {
  background: #323221;
}

.community p::selection {
  background: #323221;
}

.join input::selection {
  background: #323221;
}

.links {
  display: flex;
}

.links .hyper h3 {
  font-weight: normal;
  font-size: 23px;
  margin-left: 13rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.links .hyper ul {
  margin-bottom: 4rem;
}

.links .hyper ul a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  text-decoration: none;
  padding-top: 1rem;
  margin-left: 13rem;
  /* margin-right: 25.6rem; */
  color: black;
  font-size: 13px;
}

.links img {
  margin-top: 3rem;
  margin-left: 25.6rem;
}

.links .add p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 25rem;
  margin-top: 1rem;
  /* margin-right: 18rem; */
  line-height: 2rem;
}

.links .add a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 0.3rem;
  color: black;
}

.add .insta {
  margin-left: -0.8rem;
  margin-top: -2rem;
}

.footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.footer p {
  margin-top: 4rem;
  margin-bottom: 0.1rem;
  font-size: 11px;
}

.footer p a {
  text-decoration: none;
  color: black;
}

.content {
  padding-top: 0px;
}

#fixedButton {
  position: fixed;
  bottom: 20px;
  font-size: 25px;
  right: 20px;
  padding: 15px 13px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
}

#fixedButton img {
  padding-right: 0.5rem;
}
